.about-page {
  padding-top: 25px;
  background: linear-gradient(180deg, rgba(10, 25, 47, 1) 30%, rgba(0, 0, 0, 1) 100%);
}

.start-page__link {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../../assets/icons/arrow-accent-left.svg");
    background-repeat: no-repeat;
  }
}

.page__title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 5px;
  opacity: 0.3;
  
  &::after {
    content: "";
    display: block;
    width: 177px;
    height: 2px;
    background-color: $color-secondary;
  }
}

.about-page__image {
  margin-bottom: 48px;
  width: 177px;
  height: 177px;
  background-image: url('../../assets/images/about/main-photo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.greeting {
  margin-bottom: 15px;
}

.name {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 120%;
}

.short-description {
  padding-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
}

.more-information__button {
  margin-left: 6px;

  span {
    letter-spacing: 3px;
  }
}