.about-page__image {
  margin-bottom: 48px;
  width: 177px;
  height: 177px;
  background-image: url('../../assets/images/about/main-photo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 3px rgba(100, 255, 218, 0.25);

  @include onTablet {
    width: 274px;
    height: 274px;
  }
}

.greeting {
  margin-bottom: 15px;
}

.name {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 120%;
}

.short-description {
  padding-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
  grid-row: 2/3;
}

.additional-information__button {
  margin-left: 6px;

  span {
    letter-spacing: 3px;
  }
}

.button--hidden {
  display: none;
}

.additional-information {
  margin-bottom: 40px;
  grid-row: 3/4;

  @include onTablet {
    position: relative;
    height: 500px;
    overflow-x: auto;
  }
}

.additional-information__title {
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 145%;
}

.additional-information__text {
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
  overflow-x: auto;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 70px;
  grid-row: 2/4;

  @include onTablet {
    margin-bottom: 0;
  }
}
