.about-page {
  padding-top: 25px;
  padding-bottom: 20px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.page__title {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 5px;
  opacity: 0.3;

  &::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 2px;
    background-color: $color-secondary;
  }
}

.about-page__image {
  margin-bottom: 48px;
  width: 177px;
  height: 177px;
  background-image: url('../../assets/images/about/main-photo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 4px 4px 3px rgba(100, 255, 218, 0.25);
}

.greeting {
  margin-bottom: 15px;
}

.name {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 120%;
}

.short-description {
  padding-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
}

.additional-information__button {
  margin-left: 6px;

  span {
    letter-spacing: 3px;
  }
}

.button--hidden {
  display: none;
}

.additional-information {
  margin-bottom: 40px;
}

.additional-information__title {
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 145%;
}

.additional-information__text {
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 70px;
}

.feature__title {
  font-size: 14px;
  font-style: normal;
  line-height: 175%;
}

.features-item__top {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 32px;
  width: 166px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid rgba(55, 62, 83, 0.5);
  background: #06132b;
}

.feature__content {
  padding: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgba(55, 62, 83, 0.5);
  background: #06132b;
  box-shadow: 4px 4px 3px rgba(100, 255, 218, 0.25);
}

.feature-content__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feauture-content__item {
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('../../assets/icons/arrow-accent-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.cv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 35px;
  width: 188px;
  margin: 0 auto;
  border: 2px solid $color-accent;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 7px rgba(100, 255, 218, 0.2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../../assets/icons/cv-download.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
