.arrow-button {
  width: 26px;
  height: 26px;
  background-image: url('../../../assets/icons/global-arrow-accent.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(90deg);
  transition: transform 0.3s;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--up {
    transform: rotate(-90deg);
  }
}
