.menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.mobile__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 95px;
}

.mobile__nav-link {
  color: $text-primary;
  font-size: 15px;
}

.mobile__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  border-radius: 7px;
  background-color: $color-accent;
  color: #0a192f;
  font-weight: 500;
}

.social__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.social__nav-link {
  display: block;
  width: 24px;
  height: 24px;
}

.linkedin {
  background-image: url("../../assets/icons/linked-in_icon--green.svg");
}

.git-hub {
  background-image: url("../../assets/icons/git-hub_icon--green.svg")
}