.menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.mobile__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.mobile__nav-link {
  color: $text-primary;
  font-size: 15px;
}

.mobile__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 45px;
  border-radius: 7px;
  background-color: $color-accent;
  color: $color-secondary;
}