.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mobile__nav {
  margin-bottom: 50px;
}

.mobile__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.mobile__nav-link {
  color: $text-accent;
  font-size: 18px;
}

.mobile__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  border: 1px solid $color-primary;
  border-radius: 2px;
  background-color: $color-accent;
  color: #0a192f;
  font-weight: 500;
}

.social__links {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-40%);
}

.social__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.social__nav-link {
  display: block;
  width: 24px;
  height: 24px;
}

.linkedin {
  background-image: url("../../assets/icons/linked-in_icon--green.svg");
}

.git-hub {
  background-image: url("../../assets/icons/git-hub_icon--green.svg")
}