.projects-page-item {
  box-shadow: 1px -1px 10px 5px rgba(204, 214, 246, 0.2);
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.project-type-card {
  position: relative;
  padding: 15px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.15;
  }

  @include onTablet {
    padding: 30px;
  }
}

.project-type-card--strategic-agency {
  &::after {
    background-image: url('../../assets/images/projects/project-type-backgrounds/landing-pages.png');
  }
}

.project-type-card--tsk-manager__image {
  &::after {
    background-image: url('../../assets/images/projects/project-type-backgrounds/todo.png');
  }
}

.project-type-card--game__image {
  &::after {
    background-image: url('../../assets/images/projects/project-type-backgrounds/2048.png');
  }
}

.project-type-card--online-shop__image {
  &::after {
    background-image: url('../../assets/images/projects/project-type-backgrounds/online-catalogue.png');
  }
}

.projects-type-card__title {
  margin-bottom: 20px;
  font-size: 16px;

  @include onTablet {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.projects-type-card__description {
  margin-bottom: 30px;
  color: $text-primary;
  font-family: Roboto;
  line-height: 135%;
  font-size: 14px;

  @include onTablet {
    margin-bottom: 44px;
    font-size: 16px;
  }
}

.projects-type-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include onTablet {
    gap: 8px;
  }
}

.technologies__item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $text-primary;
  line-height: 120%;
  font-size: 14px;

  @include onTablet {
    gap: 8px;
    font-size: 16px;
  }

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('../../assets/icons/arrow-accent-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.projects-card {
  width: 100%;
  padding: 15px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );

  @include onTablet {
    padding: 30px;
  }
}

.projects-card__top {
  width: 100%;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-card__title {
  color: $color-primary;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.8px;

  @include onTablet {
    font-size: 18px;
  }
}

.projects-card__link {
  width: 22px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    width: 26px;
    height: 26px;
  }
}

.projects-card__links {
  display: flex;
  align-items: center;
  gap: 15px;

  @include onTablet {
    gap: 20px;
  }
}

.project-link {
  background-image: url('../../assets/icons/open-in-new-window-accent.svg');
}

.project-git-link {
  background-image: url('../../assets/icons/git-hub_icon--green.svg');
}

.projects-card__image {
  display: block;
  height: 185px;
  width: 100%;
  min-width: 218px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px -1px 10px 5px rgba(100, 255, 218, 0.25);

  @media (min-width: 448px) {
    height: 280px;
  }

  @include onTablet {
    height: 398px;
  }
}

.strategic-agency {
  background-image: url('../../assets/images/projects/320px/strategic-agency.png');
}

.kate-vr {
  background-image: url('../../assets/images/projects/320px/kat-vr.png');
}

.art-museum {
  background-image: url('../../assets/images/projects/320px/namu.png');
}

.art-museum-2 {
  background-image: url('../../assets/images/projects/320px/namu-new.png');
}

.met {
  background-image: url('../../assets/images/projects/320px/met.png');
}

.kondo-kings {
  background-image: url('../../assets/images/projects/320px/maimi-condo-kings.png');
}

.tsk-manager__image {
  background-image: url('../../assets/images/projects/320px/todo.png');
}

.game__image {
  background-image: url('../../assets/images/projects/320px/2048.png');
}

.online-shop__image {
  background-image: url('../../assets/images/projects/320px/online-catalogue.png');
}

.dots-container {
  display: flex;
  gap: 5px;
  padding-top: 15px;
  justify-content: center;

  @include onTablet {
    padding-top: 30px;
    gap: 10px;
  }
}

.dot {
  width: 35px;
  height: 1px;
  background-color: $color-secondary;

  @include onTablet {
    width: 55px;
  }
}

.dot--active {
  background-color: $color-accent;
}