.projects-page-item {
  box-shadow: 1px -1px 10px 5px rgba(204, 214, 246, 0.2);
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.project-type-card {
  position: relative;
  padding: 15px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url('../../assets/images/projects/DIA_landing.png');
    background-size: contain;
    z-index: -1;
    opacity: 0.1;
  }

  @include onTablet {
    padding: 30px;
  }
}

.projects-type-card__title {
  margin-bottom: 20px;
  font-size: 16px;

  @include onTablet {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.projects-type-card__description {
  margin-bottom: 30px;
  color: $text-primary;
  font-family: Roboto;
  line-height: 135%;
  font-size: 14px;

  @include onTablet {
    margin-bottom: 44px;
    font-size: 16px;
  }
}

.projects-type-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include onTablet {
    gap: 8px;
  }
}

.technologies__item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $text-primary;
  line-height: 120%;
  font-size: 14px;

  @include onTablet {
    gap: 8px;
    font-size: 16px;
  }

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('../../assets/icons/arrow-accent-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.projects-card {
  width: 100%;
  padding: 15px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );

  @include onTablet {
    padding: 30px;
  }
}

.projects-slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.projects-slider__screen {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.projects-list {
  display: flex;
  gap: 25px;
}

.projects-list__item {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-inline: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-secondary;

  @include onTablet {
    padding-inline: 50px;
  }
}

.slider-dots {
  display: flex;
  gap: 5px;
  padding-top: 15px;
  justify-content: center;

  @include onTablet {
    padding-top: 30px;
    gap: 10px;
  }
}

.slider-dots__item {
  width: 35px;
  height: 1px;
  background-color: $color-secondary;

  @include onTablet {
    width: 55px;
  }
}

.slider-dots__item--active {
  background-color: $color-accent;
}