.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  background-color: $background-color;
}

.header__nav-list {
  display: flex;
  gap: 30px;
}

.heder__nav-link {
  color: $text-primary;
}