.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 6px 0 $color-secondary;

  &__border-bottom--active {
    box-shadow: 0 1px 6px 0 $color-accent;
  }
}

.start-button {
  width: 28px;
  height: 28px;
  background: url('../../assets/icons/start-button-grey-28px.svg');
  background-repeat: no-repeat;
  background-size: contain;
  animation: blink 2s infinite;

  &--active {
    background-image: url('../../assets/icons/start-button-accent-28px.svg');
    opacity: 1;
    animation-duration: 0ms;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    background-image: url('../../assets/icons/start-button-accent-28px.svg');
    opacity: 1;
  }
}