.language-selector {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.language-selector__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 36px;
  gap: 5px;
}

.language-selector__item {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.en {
  background-image: url('../../../assets/icons/britain-flag.png');
}

.de {
  background-image: url('../../../assets/icons/german-flag.png');
}

.uk {
  background-image: url('../../../assets/icons/ukraine-flag.png');
}