.projects-page {
  padding-top: 25px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.projects-page__description {
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
}

.projects-page-section {
  margin-bottom: 50px;
}

.projects-page-section__title {
  font-size: 14px;
  font-style: normal;
  line-height: 175%;
}

.projects-page-section-top {
  display: flex;
}

.projects-page-section-top__left {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 32px;
  width: 185px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid rgba(55, 62, 83, 0.5);
  background: #06132b;
}

.slider-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 70px;
}

.slider-arrow {
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
}

.left {
  background-image: url('../../assets/icons/slider-arrow-left-grey.svg');
}

.right {
  background-image: url('../../assets/icons/slider-arrow-right-accent.svg');
}

.projects-page-section__content {
  padding: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgba(55, 62, 83, 0.5);
  background: #06132b;
  box-shadow: 4px 4px 3px rgba(100, 255, 218, 0.25);
}

.project-technologies {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgba(136, 146, 176, 0.25);
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.technologies__item {
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('../../assets/icons/arrow-accent-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

.slider-dot {
  width: 12px;
  height: 4px;
  background-color: $color-secondary;

  &--active {
    background-color: $color-accent;
  }
}

.project-image {
  margin: 0 auto;
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px 0px 8px 8px;
}

.landings__image {
  background-image: url('../../assets/images/projects/DIA_landing.png');
}

.tsk-manager__image {
  background-image: url('../../assets/images/projects/todo.png');
}

.game__image {
  background-image: url('../../assets/images/projects/2048_game_.png');
}

.online-shop__image {
  background-image: url('../../assets/images/projects/gadgets_catalog.bmp');
}

.online-shop {
  margin-bottom: 10px;
}