.projects-page__description {
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
}

.project-type__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-type__title {
  display: flex;
  align-items: center;
  height: 35px;
  width: max-content;
  padding: 10px 20px;
  border-radius: 8px 8px 0px 0px;
  background: #06132b;
  box-shadow: 0px 0px 3px 3px rgba(100, 255, 218, 0.2);
}

.project-type__content {
  padding: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgba(55, 62, 83, 0.5);
  background: #06132b;
  box-shadow: 0px 3px 3px 3px rgba(100, 255, 218, 0.2);
}