@import './styles/main';
@import './styles/utilities/_mixins';

.mobile__content {
  @include onTablet {
    display: none;
  }
}

.desktop__content {
  display: none;

  @include onTablet {
    display: block;
  }
}